body { font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0;
  text-align: center;}
.button {
  background-color: #1b9aef;
  padding: 8px;
  border-radius: 7px;
  margin: 4px;
  border-width: inherit;
  width: 70px;
  display: inline-block;
}
.button:hover {
  background-color: #a0eef7;
}
.card {
  border-color: black;
  border-style: solid;
  border-width: inherit;
  padding: 20px;
  outline: black;
  border-radius: 15px;
  width: 160px;
  min-height: 180px;
  box-shadow: 2px 3px 8px 0px black;
  background-color: white;
  text-align: center;
  margin: 30px;
  display: inline-block;
  vertical-align: top;
}

.delay {
  width: 40px;
  display: inline-block;
  margin: 10px;
}
